body {background-color: darkgrey;
    margin: 0;}

#wrapper {width: 950px;
    background-color: lightpink;
    margin: auto;
    height: 1150px;
}

header { width: 950px;
    margin: auto;
    background-color: whitesmoke;
    font-family: "Myanmar MN", sans-serif;}


h1{padding: 20px;
    text-align: center;}

h2, p {padding: 10px;}

main{ font-family: "Myanmar MN", sans-serif;
    color: black;
    background-color: lightpink;
    clear: both;
    width: 944px;
    margin: 0px 3px 0px 3px;}


#topStory {width: 430px;
    min-height: 300px;
    margin: 10px;
    background-color: ghostwhite;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    border: 2px solid black; }

#botStory {width: 430px;
    min-height: 300px;
    margin: 10px;
    background-color: ghostwhite;
    padding-left: 5px;
    padding-right: 5px;
    float: right;
    border: 2px solid black;}

.container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;  }

img{border-radius: 50%;
    border: 4px solid black;}